
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    background-color: #777d6a;
}


header img {
    display: block;
    margin: auto;
    width: 100px;
    height: auto;
}


.navBar {
    background-color: #a9ae9f;
    display: flex;
    justify-content: center; 
   
    padding: 10px; 
}


.navBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}


.navBar li {
    margin: 0 15px; 
}


.navBar a {
    text-decoration: none;
    color: #333; 
    font-size: 16px;
}
.navBar a:hover{
    text-decoration: underline;
}

.container {
    display: flex; 
    justify-content: space-between; 
}

.left-section {
    width: 20%;
    height: 100vh;
    background-color: #999f8e;
}
/* here bonus */

.left-section .login-box{
    width: 70%;
    height: 200px;
    background-color: #fff;
    margin:30px auto;
    border: 2px solid #333;
    overflow: hidden;
   
}
.left-section .social h2{
    text-align: center;
    margin-top: 10px;
}
.left-section .social img{
    width: 20%;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 10px;
}
.left-section form{
    padding: 10px;
}

.left-section form button{
  
    padding: 5px;
   background-color: green;
   color: #fff;
   margin-left: 42px;
   border: none;
}

.left-section .social #linkedin{
    margin-bottom: 20px;
}

.iframe-video{
 
    margin-left: 10%;
    margin-top: 10px;

}
/* Right section here  */

.right-section {
    width: 20%;
    height: 100vh;
    background-color: #bfbfbf;
    display: flex;
    justify-content: flex-end; 
}
.personal-img img{
    width: 80%;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 25px;
   
   
}

.news{
    margin-left: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}
/* End of right section */
.home{
    background-color: #d2d8c7;
    width: 60%;
    height: auto;
    
}
.home ul{
    display: block;
    margin-top: 50px;
    margin-left: 20px;
}
.home ul li{
    margin-left: 70px;
}

.home h1{
    text-align: center;
    color: #871412;
    margin: 10px 20px; 

}

.home ul li{
    margin-top: 5px;
}

footer{
    background-color: #777d6a;
    color: #871412;
    text-align: center;
    padding: 5px;
    font-weight: bold;

}

footer a{
    text-decoration:none ;
    color: #871412;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}



/* Registration form style */
h1{
    text-align: center;
}
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form-group-register{
    margin-bottom: 15px;
}

.form-group-register label {
    display: block;
    margin-bottom: 5px;
}

.form-group-register input, .form-group-register select, .form-group-register textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group-btn{
    display: flex;
    justify-content: space-between;
}
.form-group-btn button.submit {
    background-color: #4CAF50;
    border: none;
    padding: 5px;
}
.form-group-btn button.reset {
    background-color: #f44336;
    border: none;
    padding: 5px;
} 

/* For Thankyou page */
.thank-you-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    margin-top: 20%;
}
.thank-you-container h1 {
    color: #4CAF50;
}
.thank-you-container p {
    font-size: 18px;
    color: #333;
}
.thank-you-container a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
    display: block;
    text-align: center;
}
